* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--greyBkgnd: rgb(37, 36, 36);
	--bright: rgb(225, 245, 8);
	--light: white;
	--lightShadow: 2px 5px 3px 0px rgba(241, 237, 237, 0.5);
	--blue: rgb(109, 156, 226);
}

.container {
	background-color: var(--greyBkgnd);

	color: var(--light);
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	font-size: 2rem;
	letter-spacing: 0.3rem;
	text-align: center;
	border-bottom: 3px solid --light;
}

.display {
	margin-top: 2rem;
	font-size: 1.5rem;
	text-align: center;
}

.display span {
	color: var(--bright);
}

.hide {
	display: none;
}

.who-won {
	font-size: 2.5rem;
	color: var(--bright);
}

.board {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, auto);
	margin: 50px;
	max-width: 300px;
	align-items: center;
	justify-content: center;
	/* gap: 5px; */
	/* background-color: rgb(235, 221, 221); */
}

.square {
	height: 100px;
	width: 100px;
	color: var(--light);
	background-color: var(--greyBkgnd);
	border: 2px solid rgba(255, 255, 255, 0.7);
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 3rem;
}

.square:hover {
	background-color: rgba(172, 187, 201, 0.5);
	transition: 0.3s ease-in-out;
}

/* remove edges  -- not sure about left and right edges */
.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
	border-top: none;
}

.square:nth-child(1),
.square:nth-child(4),
.square:nth-child(7) {
	border-left: none;
}

.square:nth-child(3),
.square:nth-child(6),
.square:nth-child(9) {
	border-right: none;
}

.square:last-child,
.square:nth-child(7),
.square:nth-child(8) {
	border-bottom: none;
}

/* human or computer class*/
.O {
	color: var(--light);
}

.X {
	color: var(--blue);
}

#restart-btn {
	border-radius: 5px;
	color: white;
	background-color: rgb(31, 68, 124);
	padding: 1.5rem;
	margin: 2rem;
	border: none;
	max-width: 33%;
	text-transform: uppercase;
	font-size: 1rem;
	text-align: center;
	letter-spacing: 0.1em;
	box-shadow: var(--lightShadow);
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

#restart-btn:hover {
	color: rgb(31, 68, 124);
	background-color: white;
	font-weight: 800;
}

/* other */
.results {
	color: white;
	font-size: 4em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(140, 144, 146, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
